<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Job Search Portal</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'indexing/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'indexing/css/stylish-portfolio.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'indexing/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">


</head>

<body>

    <!-- Navigation -->
    <div class="nav">
        <ul>
          <li><a href="/index/">Home</a></li>
          <li><a href="/search/">Search</a></li>
          <li><a class="active" href="">Classify</a></li>
        </ul>
    </div>


    <!-- Header -->
<!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h2>Start Your Job Search Today!</h1>
            <form  name='searchForm' method="get" action="/classifyResults/">
                <div class="row">
                    <div class="col-xs-2 col-sm-2"></div>
                    <div class="col-xs-8 col-sm-8" align="left">
                        <h4 align="left">To find jobs matching with your resume</h4>
                        <div class="form-group">
                            <textarea rows="18" class="form-control input-lg" type="text" style="font-size:14pt" placeholder="Please paste your resmue here: e.g. your skills, interests, etc." name="resumeInput" id='resumeInput' required  value="{{ query|default_if_none:"" }}" onload="document.getElementById('resumeInput').focus();"></textarea>
                        </div>
                        <div align = "right">
                            <input type="submit" class="btn btn-primary btn-sm" value="Search with Resume" />
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2" align="left">
                    </div>  
                </div>
            </form>
            <br>
            <br>
        </div>
    </header>

</body>

</html>
