
<!-- {% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}
 -->

<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Job Search Portal</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'indexing/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'indexing/css/stylish-portfolio.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'indexing/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>

    <!-- Navigation -->
     <div class="nav">
        <ul>
          <li><a href="/index/">Home</a></li>
          <li><a class="active" href="/search/">Search</a></li>
          <li><a href="/classify/">Classify</a></li>
        </ul>
    </div>


    <!-- Header -->        
    <form  name='searchForm' method="get" action=/search/">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-xs-2 col-sm-3"></div>
            <div class="col-xs-6 col-sm-6">
                <input type="text" class="form-control" placeholder="Enter Keywords: e.g. finance, IT, manager, consultants, etc" name="jobName" id='jobName' required value="{{searchQuery}}" onload="document.getElementById('jobName').focus();" /> 
            </div>
            <div class="col-xs-2 col-sm-2" align="left">
                <input type="submit" class="btn btn-primary btn-sm" value="Find Jobs" />
            </div>  
            <div class="col-xs-10 col-sm-4"></div>     
        </div>
    </form>
    <br>
    <br>
    <hr>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-3">
                <div class="list-group">
                    <ul>
                        <form action="/search/">
                            <!-- <p>Job Categories: </p>
                            <input type="checkbox" name="career" value="Accounting"> Accounting<br>
                            <input type="checkbox" name="career" value="Administrative"> Administrative<br>
                            <input type="checkbox" name="career" value="Arts and Design"> Arts and Design<br>
                            <input type="checkbox" name="career" value="Business Development"> Business Development<br>
                            <input type="checkbox" name="career" value="Consulting"> Consulting<br>
                            <input type="checkbox" name="career" value="Education"> Education<br>
                            <input type="checkbox" name="career" value="Engineering"> Engineering<br>
                            <input type="checkbox" name="career" value="Finance"> Finance<br>
                            <input type="checkbox" name="career" value="Healthcare Services"> Healthcare Services<br>
                            <input type="checkbox" name="career" value="Human Resources"> Human Resources<br>
                            <input type="checkbox" name="career" value="Information Technology"> Information Technology<br>
                            <input type="checkbox" name="career" value="Legal"> Legal<br>
                            <input type="checkbox" name="career" value="Marketing"> Marketing<br>
                            <input type="checkbox" name="career" value="Media & Communications"> Media & Communications<br>
                            <input type="checkbox" name="career" value="Military & Protective Services"> Military & Protective Services<br>
                            <input type="checkbox" name="career" value="Operations"> Operations<br>
                            <input type="checkbox" name="career" value="Project Management"> Project Management<br>
                            <input type="checkbox" name="career" value="Quality Assurance"> Quality Assurance<br>
                            <input type="checkbox" name="career" value="Real Estate"> Real Estate<br>
                            <input type="checkbox" name="career" value="Sales"> Sales<br>
                            <input type="checkbox" name="career" value="Support"> Support<br> -->
                        <p> Career Type: </p>
                        <select name="type" size="5" id="type"  multiple>
                            <option value="Accounting">Accounting</option>
                            <option value="Administrative">Administrative</option>
                            <option value="Arts and Design">Arts and Design</option>
                            <option value="Business Development">Business Development</option>
                            <option value="Consulting">Consulting</option>
                            <option value="Education">Education</option>
                            <option value="Engineering">Engineering</option>
                            <option value="Finance">Finance</option>
                            <option value="Healthcare Services">Healthcare Services</option>
                            <option value="Human Resources">Human Resources</option>
                            <option value="Information Technology">Information Technology</option>
                            <option value="Legal">Legal</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Media & Communications">Media & Communications</option>
                            <option value="Military & Protective Services">Military & Protective Services</option>
                            <option value="Operations">Operations</option>
                            <option value="Project Management">Project Management</option>
                            <option value="Quality Assurance">Quality Assurance</option>
                            <option value="Real Estate">Real Estate</option>
                            <option value="Sales">Sales</option>
                            <option value="Support">Support</option>
                        </select>
                        <br>
                        <br>
                        <br>
                        <p> Job Locations: </p>
                        <select name="country" size="5"id="country" multiple> Country
                            <option value=" AE "> United Arab Emirates </option>
                            <option value=" AR "> Argentina </option>
                            <option value=" AU "> Australia </option>
                            <option value=" BE "> Belgium </option>
                            <option value=" BH "> Bahrain </option>
                            <option value=" BR "> Brazil </option>
                            <option value=" CA "> Canada </option>
                            <option value=" CH "> Switzerland </option>
                            <option value=" CL "> Chile </option>
                            <option value=" CN "> China </option>
                            <option value=" CO "> Colombia </option>
                            <option value=" CZ "> Czechia </option>
                            <option value=" DE "> Germany </option>
                            <option value=" DK "> Denmark </option>
                            <option value=" ES "> Spain </option>
                            <option value=" FI "> Finland </option>
                            <option value=" FR "> France </option>
                            <option value=" GR "> Greece </option>
                            <option value=" HK "> Hong Kong </option>
                            <option value=" HU "> Hungary </option>
                            <option value=" ID "> Indonesia </option>
                            <option value=" IE "> Ireland </option>
                            <option value=" IN "> India </option>
                            <option value=" IT "> Italy </option>
                            <option value=" JP "> Japan </option>
                            <option value=" LU "> Luxembourg </option>
                            <option value=" MY "> Malaysia </option>
                            <option value=" NL "> Netherlands </option>
                            <option value=" NO "> Norway </option>
                            <option value=" NZ "> New Zealand </option>
                            <option value=" OM "> Oman </option>
                            <option value=" PE "> Peru </option>
                            <option value=" PH "> Philippines </option>
                            <option value=" PK "> Pakistan </option>
                            <option value=" PL "> Poland </option>
                            <option value=" PT "> Portugal </option>
                            <option value=" QA "> Qatar </option>
                            <option value=" RO "> Romania </option>
                            <option value=" RU "> Russian Federation </option>
                            <option value=" SG "> Singapore </option>
                            <option value=" TR "> Turkey </option>
                            <option value=" TW "> Taiwan, Province of China </option>
                            <option value=" US "> United States of America </option>
                            <option value=" VE "> Venezuela, Bolivarian Republic of </option>
                            <option value=" ZA "> South Africa </option>
                        </select>
                        <br>
                        <br>
                        <input class="btn btn-primary btn-sm" type="submit" value="Filter Results">
                        </form>
                    </ul>

                </div>
            </div>

            <div class="col-sm-8 verticalLine" align="left">
                <br>
                <br>
				<br>
				{% if results %}
					{% for job in results %}
						<div class="panel panel-info"> 
							<div class="panel-heading">
								<br>
								<h3 style="color: #009ACD">{{job.jobtitle}}</h3>
								<br>
							</div>
							<div class="panel-body">
                                <p class="text-muted pull-right">{{job.category}}</p>
								<h4>Company: {{job.company}}</h4>
                                
								<p class="text-muted">
			                        <span>Location: </span>
			                        <span>{{job.city}}, </span>
			                        <span>{{job.state}}, </span>
			                        <span>{{job.country}}</span>
			                        <span class="pull-right">Posted on: {{job.date}}</span>
		                    	</p>
			                    <br>
                                <p>Job Description: {{job.JD}}</p> 
			                    <br>
			                    <p>Get more information: </p>
                                <a href={{job.url}}>{{job.url}}</a>
			                </div>
						</div>
					{% endfor %}
				{% endif %}  
            </div>

            <div class="col-sm-1 verticalLine" align="left"/>

        </div>
    </div>

</body>

</html>
